[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mahendra Pawar
	email = mahendrapawar.dev@gmail.com
[color]
	ui = auto
[credential]
	helper = cache
[core]
	editor = code --wait
